.fuji {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  button {
    position: absolute;
    top: 46px;
    left: 21px;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 46px;
    left: 21px;
    background: rgba(29, 29, 29, 0.4);
    backdrop-filter: blur(20px);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    z-index: 1;
  }

  &__arrow-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }
  &__arhive {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 46px;
    right: 19px;
    background: rgba(29, 29, 29, 0.4);
    backdrop-filter: blur(20px);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    z-index: 1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-right: 28px;
    padding-left: 28px;
  }

  &__image {
    position: relative;
    img {
      width: 560px;
      border-radius: 25px;
    }
    padding-top: 28px;
    padding-bottom: 48px;
  }

  &__desc {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 150.188%;
    background: linear-gradient(
      180deg,
      #a5a5a5 29.69%,
      rgba(165, 165, 165, 0) 89.06%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 38px;
  }

  &__book {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 20px;
    background: linear-gradient(0deg, #1b1b1b 0%, #1b1b1b 100%),
      rgba(255, 255, 255, 0.4);
    box-shadow: 0px 13px 26px -2px rgba(0, 0, 0, 0.12);
    width: 373px;
  }
}
.fuji-overview {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  &__info {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
  }

  &__title {
    color: #1b1b1b;
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
  }

  &__text {
    color: rgba(27, 27, 27, 0.62);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
  }
}
.fuji-value {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: #ededed;
    width: 34px;
    height: 34px;
  }
  &__hour {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__temp {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__star {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.fuji-buttom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  bottom: 80px;
  left: 24px;
  z-index: 1;
  border-radius: 15px;
  background: rgba(29, 29, 29, 0.3);
  box-shadow: 0px 5px 9px 0px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  width: 331px;
  padding: 11px 12px 16px 16px;

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
  }

  &__text {
    color: #cac8c8;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
  }

  &__desc {
    display: flex;
    justify-content: space-between;
  }

  &__city {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #cac8c8;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    img{
        width: 22px;
    }
  }

  &__price {
    color: #cac8c8;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    span {
      color: #434343;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 500;
    }
  }
}
